RewriteEngine On
RewriteRule    ^home-page?$   index.php
RewriteRule    ^Edit-Profile?$   edit_profile.php
RewriteRule    ^Change-Password?$   change-password.php
RewriteRule    ^Order-History?$   order_history.php
RewriteRule    ^Returns?$   returns.php
RewriteRule    ^Transection-Details?$   transection_details.php
RewriteRule    ^Wishlist?$   wishlist.php
RewriteRule    ^Logout?$   logout.php
RewriteRule    ^job-details-page-([0-9a-zA-Z]+)-([0-9a-zA-Z]+)  job-details.php?edit&id=$1&emp_id=$2